.theme-light {
  /** Backgrounds **/
  --bg-background-primary: #ffffff;
  --bg-background-text: #443a3a;
  --bg-background-overlay: rgba(255, 255, 255, 0.95);

  /** Text **/
  --text-copy-header-light: #999999;
}

.theme-dark {
  /** Backgrounds **/
  --bg-background-primary: #000000;
  --bg-background-text: #ffffff;
  --bg-background-overlay: rgba(255, 255, 255, 0.95);

  /** Text **/
  --text-copy-header-light: #999999;
}
