.theme-light {
  --bg-background-navigation: #ffffff;
  --bg-background-navigation-hover: #edf2f7;
  --bg-background-primary: #ffffff;
  --bg-background-text: #443a3a;
  --bg-background-overlay: rgba(255, 255, 255, 0.95);

  --text-copy-heading: #000000;
  --text-copy-body: #443a3a;
}

.theme-dark {
  --bg-background-navigation: #ffffff;
  --bg-background-navigation-hover: #edf2f7;
  --bg-background-primary: #000000;
  --bg-background-text: #ffffff;
  --bg-background-overlay: rgba(255, 255, 255, 0.95);

  --text-copy-heading: #000000;
  --text-copy-body: #443a3a;
}
