.theme-light {
  --bg-background-navigation: #ffffff;
  --bg-background-navigation-hover: #edf2f7;
  --bg-background-primary: #ffffff;
  --bg-background-text: #443a3a;
  --bg-background-overlay: rgba(255, 255, 255, 0.95);
  --bg-project-card-shadow: rgba(0, 0, 0, 0.4);
  --bg-project-card-details: rgba(0, 0, 0, 0.7);

  --card-border: #a0aec0;
  --card-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  --horizontal-rule: #e2e8f0;

  --text-copy-heading: #000000;
  --text-copy-body: #443a3a;
  --text-copy-link: #68b5fb;
  --text-copy-project-card: #ffffff;
}

.theme-dark {
  --bg-background-navigation: #ffffff;
  --bg-background-navigation-hover: #edf2f7;
  --bg-background-primary: #000000;
  --bg-background-text: #ffffff;
  --bg-background-overlay: rgba(255, 255, 255, 0.95);
  --bg-project-card-shadow: rgba(0, 0, 0, 0.4);
  --bg-project-card-details: rgba(0, 0, 0, 0.7);

  --card-border: #a0aec0;
  --card-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  --horizontal-rule: #e2e8f0;

  --text-copy-heading: #000000;
  --text-copy-link: #68b5fb;
  --text-copy-body: #443a3a;
  --text-copy-project-card: #ffffff;
}
